footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "adress social"
    "copyright copyright";
    row-gap: 2em;
    background-color: grey;
    color:whitesmoke;
    height: auto;
}
.adress{
    grid-area: adress;
    padding: 1.5em;
    place-self: center;
}
.social{
    grid-area: social;
    padding: 1.5em;
    place-self: center;
    font-size: 1.5em;
}
.copyright{
    grid-area: copyright;
    text-align: center;
}
