nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em;
}
nav .visible {
    display: flex;
}       
.menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 120px;
    list-style-type: none;
    /* bottom: 0; */
    /*  */
    /* display: flex; */
    display: none;
    /* justify-content: space-around; */
    flex-direction: column;
}
.visible li{
    display:block;
    text-align: center;
    border: 1px solid burlywood;
    background-color: darkslategray;
}

@media (min-width: 600px) {


}