@import url(https://fonts.googleapis.com/css?family=Merriweather);
*{
    margin:0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    /* font-size: 65%; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em;
}

.menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 120px;
    list-style-type: none;
    /* bottom: 0; */
    /*  */
    /* display: flex; */
    display: none;
    /* justify-content: space-around; */
    flex-direction: column;
}

.visible {
    display: flex;
} 

@media (min-width: 600px){
    nav ul{
        display: flex;
        position: relative;
        list-style-type: none;
        justify-content: space-around;
    }
    .ikon{
        display:none;
    }
}